<body>
    <div class="content">
        <img class="originlogo" src="./assets/Picsart_25-04-09_12-36-45-871.PNG" alt="">
        <div>
             <p>name: iliass sidqi</p>
        <p>role: fullstack devloper</p>
        <p>mygithub: <a href="https://github.com/iliassid?tab=repositories">here</a></p>
        </div>
       
    </div>
    <div class="control">
        <div class="contentToo">
        <h1>Who am i</h1>
        <p>My name iliass sidqi and i go by the name IlyioG I’m a passionate Full-Stack Developer and 3D Artist with a unique blend of technical skill and creative vision. With a strong foundation in both front-end and back-end development, I build dynamic, user-friendly web applications from start to finish. Beyond code, I bring ideas to life through 3D modeling and visual storytelling, creating immersive digital experiences. Whether it's developing robust APIs or crafting stunning visual assets, I thrive at the intersection of technology and creativity.</p>

    </div>
    </div>
    
    
</body>
