<body>
    <section>
    <p class="abooutme">about me</p>
<p>I hold a university degree in Economics, which provided me with strong analytical and problem-solving skills. While my academic background is rooted in economics, my passion for creativity and technology led me to branch out into new fields that allowed me to combine both logic and artistry.

I spent 3 years working in jewelry design, where I developed a deep appreciation for craftsmanship, precision, and aesthetics. This experience sparked a deeper interest in the world of digital design and modeling.

Driven by curiosity, I self-taught 3D modeling and sculpting, exploring various tools to bring ideas to life in 3D form. I also completed a professional formation in Graphic Design through LinkedIn Learning, where I gained solid knowledge in visual design principles, branding, and digital media creation.

My creative journey soon merged with technology as I transitioned into web and software development. I studied and practiced:
</p>
<ul>
    <li>HTML, CSS, JavaScript for front-end development</li>
    <li>Java and Java EE (JEE) for back-end development and enterprise solutions</li>
    <li>Angular for building dynamic single-page applications</li>
    <li>Git and GitHub for version control and collaboration</li>
    <li>UML for software design and planning</li>
    <li>Figma and Canva for UI/UX design and prototyping</li>
</ul>
<p>With this skillset, I now work as a Full Stack Developer, capable of building complete, user-focused applications from front to back. I’m passionate about creating meaningful digital experiences that are both functional and visually engaging. My diverse background in economics, design, and development allows me to approach challenges from multiple angles and continuously evolve in a fast-moving tech world.
</p>
</section>

<div class="techdev">

    <p>technology that I can use as a fullstack devloper</p>
    <div class="devcontent">
            <div class="logosContent">
                <p>HTML</p>
                <img class="logoimg" src="./assets/html.png" alt="">
                </div>
            <div class="logosContent">
                <p>css</p>
                <img class="logoimg" src="./assets/css.png" alt="">
            </div>
            <div class="logosContent">
                <p>javaScript</p>
                <img class="logoimg" src="./assets/js.png" alt="">
            </div>
            <div class="logosContent">
                <p>java</p>
                <img class="logoimg" src="./assets/java.png" alt="">
            </div>
            <div class="logosContent">
                <p>java EE</p>
                <img class="logoimg" src="./assets/jee.png" alt="">
            </div>
            <div class="logosContent">
                <p>angular 18</p>
                <img class="logoimg" src="./assets/angular18.png" alt="">
            </div>
            <div class="logosContent">
                <p>git</p>
                <img class="logoimg" src="./assets/git.png" alt="">
            </div>
            <div class="logosContent">
                <p>github</p>
                <img class="logoimg" src="./assets/github.png" alt="">
            </div>
            <div class="logosContent">
                <p>star uml</p>
                <img class="logoimg" src="./assets/Starumllogo.png" alt="">
            </div>
            <div class="logosContent">
                <p>figma</p>
                <img class="logoimg" src="./assets/Figma-logo.svg.png" alt="">
            </div>
            <div class="logosContent">
                <p>canva</p>
                <img class="logoimg" src="./assets/canva.webp" alt="">
            </div>
    </div>
    
    
    

</div>
<div class="techdev">
    
         <p>technology that I can use as a graphic and 3D designer</p>
    <div>
        <div class="devcontent">
                <div class="logosContent">
                    <p>blender</p>
                    <img class="logoimg" src="./assets/blender.png" alt="">
                </div>
                <div class="logosContent">
                    <p>illustrator</p>
                    <img class="logoimg" src="./assets/illustrator.png" alt="">
                </div>
                <div class="logosContent">
                    <p>indesign</p>
                    <img class="logoimg" src="./assets/indesign.png" alt="">
                </div>
                <div class="logosContent">
                    <p>matrix9</p>
                    <img class="logoimg" src="./assets/matrix9.png" alt="">
                </div>
                <div class="logosContent">
                    <p>photoshop</p>
                    <img class="logoimg" src="./assets/photoshop.png" alt="">
                </div>
                <div class="logosContent">
                    <p>zbrush</p>
                    <img class="logoimg" src="./assets/zbrush.png" alt="">
                </div>
        </div>
    </div>
    <br><br><br><br><br>
</div>

</body>


