<section>
    <p class="title">My projects</p>
    <div class="content">
        <div class="block">
            <div class="titletoo">GreenTech website</div>
            <img class="projectimg" src="/assets/GreenTech.jpg" alt="">
            <p>GreenTech is a clean, eco-focused website that highlights sustainable technology and green innovations.</p>
            <p>website in github: <a href="https://github.com/iliassid/Greentech.git">click</a></p>
        </div>
        <div class="block">
            <div class="titletoo">MyMovies</div>
            <img class="projectimg" src="/assets/mymovie.jpg" alt="">
            <p>MyMovies is a simple and interactive website to track, rate, and manage your favorite movies.</p>
            <p>website in github: <a href="https://github.com/iliassid/SP2_BR5.git">click</a></p>
        </div>
        <div class="block">
            <div class="titletoo">Foodspot</div>
            <img class="projectimg" src="/assets/foodspot.jpg" alt="">
            <p>FoodSpot is a sleek website to discover, review, and share your favorite dishes and local food spots.</p>
            <p>website in github: <a href="https://github.com/iliassid/SP2_BR5.git">click</a></p>
        </div>
        <div class="block">
            <div class="titletoo">Weatherconnect</div>
            <img class="projectimg" src="/assets/weatherconnect.jpg" alt="">
            <p>WeatherConnect is a user-friendly website that provides real-time weather updates and forecasts for any location.</p>
            <p>website in github: <a href="https://github.com/iliassid/sprint-2-brief-4.git">click</a></p>
        </div>
    </div>
</section>
<br>