<div class="topdiv">
<p class="contactme">Contact me</p>
<form class="myform" action="">
    <input class="formcontent" type="text" placeholder="  First Name">
    <input class="formcontent" type="text" placeholder="  Last Name">
    <input class="formcontent" type="email" placeholder="  email">
    <textarea class="formcontent textform" name="message" id="message" placeholder="  Write your message here"></textarea>
    <button  id="submit" type="submit">submit</button>
</form>
</div>


<div class="thesocials">
    <p>My socials</p>
    <div class="links">
        <div class="thediv">
            <a href="mailto:enaailiass@gmail.com">
                <button class="thebutton"><img src="./assets/gm.png" alt=""></button>
            </a>
            <p>Gmail</p>
        </div>
        <div class="thediv">
            <a href="https://www.instagram.com/ilyio.g?igsh=MTNkbnpwaGVkZ2VrMw==">
                <button class="thebutton"><img src="./assets/Insta.png" alt=""></button>
            </a>
            <p>Instagram</p>
        </div>
        <div class="thediv">
            <a href="https://www.linkedin.com/in/iliass-sidqi-9a6a0621a/">
                <button class="thebutton"><img src="./assets/linkedin.png" alt=""></button>
            </a>
            <p>Linkedin</p>
        </div>
    </div>
</div>
<br><br>